<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title>Image List Page | Gocloud</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="/i/favicon.png">
    <link rel="stylesheet" href="/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/css/gocloud.css"/>
</head>
<body>
<div class="am-g" id="imageListApp">
    <div class="am-u-lg-12 am-u-md-12 am-u-sm-centered">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg">相册</strong> /
                <small>Gallery</small>
            </div>
        </div>

        <hr>

        <ul v-for="item in items" class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-margin gallery-list">
            <li v-for="media in item.MediaInfos">
                <a v-bind:href="media.MediaUrl">
                    <img class="am-img-thumbnail am-img-bdrs" v-bind:src="media.ThumbnailUrl" alt=""/>
                    <div class="gallery-title">{{media.Description}}</div>
                </a>
            </li>
        </ul>

        <!--<div class="am-margin am-cf">-->
        <!--<hr/>-->
        <!--<p class="am-fl">共 15 条记录</p>-->
        <!--<ol class="am-pagination am-fr">-->
        <!--<li class="am-disabled"><a href="#">&laquo;</a></li>-->
        <!--<li class="am-active"><a href="#">1</a></li>-->
        <!--<li><a href="#">2</a></li>-->
        <!--<li><a href="#">3</a></li>-->
        <!--<li><a href="#">4</a></li>-->
        <!--<li><a href="#">5</a></li>-->
        <!--<li><a href="#">&raquo;</a></li>-->
        <!--</ol>-->
        <!--</div>-->
    </div>
</div>
<!-- Navbar -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default"
     id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li data-am-navbar-share>
            <a href="/image_list.html">
                <span class="am-icon-picture-o"></span>
                <span class="am-navbar-label">图片</span>
            </a>
        </li>
        <li data-am-navbar-qrcode>
            <a href="/video_list.html">
                <span class="am-icon-video-camera"></span>
                <span class="am-navbar-label">视频</span>
            </a>
        </li>
        <li>
            <a href="/upload_image.html">
                <span class="am-icon-cloud-upload"></span>
                <span class="am-navbar-label">上传图片</span>
            </a>
        </li>
        <li>
            <a href="/upload_video.html">
                <span class="am-icon-cloud-upload"></span>
                <span class="am-navbar-label">上传视频</span>
            </a>
        </li>
    </ul>
</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/vue-resource.min.js"></script>
<script>
    var vm = new Vue({
        el: '#imageListApp',
        data: {
            items: null
        },
        created: function () {
            this.load();
        },
        methods: {
            load: function () {
                this.$http.get('/image/all').then(function (response) {
                    this.items = response.data.imageList
                }, function (response) {
                    console.log('Error!:', response.data);
                });
            },
            upload: function () {
                this.$http.get('/image/all').then(function (response) {
                    this.items = response.data.imageList
                }, function (response) {
                    console.log('Error!:', response.data);
                });
            }
        }
    })
</script>
</html>