<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title>Video Upload Page | Gocloud</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="/i/favicon.png">
    <link rel="stylesheet" href="/css/amazeui.min.css"/>
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>视频上传</h3>
        <hr>
        <div class="am-form-group">
            <label for="description">这一刻的想法...</label><br>
            <textarea class="am-u-sm-centered" rows="5" id="description"></textarea>
        </div>
        <div class="am-form-group am-form-file ">
            <button type="button" class="am-btn am-btn-default am-btn-sm">
                <i class="am-icon-cloud-upload"></i> 选择要上传的视频
            </button>
            <input id="video" name="video" type="file" accept="video/*" multiple onchange="videoChange()">
        </div>
        <div id="file-list"></div>
        <p>
            <!--<button type="submit" class="am-btn am-btn-default">提交</button>-->
            <input type="button" class="am-btn am-btn-primary am-btn-sm" value="提交" onclick="uploadVideo()"/>
        </p>
        <div id="parent">
            <div id="son"></div>
        </div>

        <br>
        <hr>
        <p>Copyright (c) 2017 Richard li. Licensed under MIT license.</p>
    </div>
</div>
<!-- Navbar -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default"
     id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li data-am-navbar-share>
            <a href="/t/image_list.html">
                <span class="am-icon-share-square-o"></span>
                <span class="am-navbar-label">图片</span>
            </a>
        </li>
        <li data-am-navbar-qrcode>
            <a href="/t/video_list.html">
                <span class="am-icon-qrcode"></span>
                <span class="am-navbar-label">视频</span>
            </a>
        </li>
        <li>
            <a href="/t/upload_image.html">
                <span class="am-icon-github"></span>
                <span class="am-navbar-label">上传图片</span>
            </a>
        </li>
        <li>
            <a href="/t/upload_video.html">
                <span class="am-icon-github"></span>
                <span class="am-navbar-label">上传视频</span>
            </a>
        </li>
    </ul>
</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/gocloud.js"></script>
<script>
    $(function () {
        $('#video').on('change', function () {
            var fileNames = '';
            $.each(this.files, function () {
                fileNames += '<span class="am-badge">' + this.name + '</span> ';
            });
            $('#file-list').html(fileNames);
        });
    });
</script>
</html>