<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title>Video Upload Page | Gocloud</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="/i/favicon.png">
    <link rel="stylesheet" href="/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/css/gocloud.css"/>
</head>
<body>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>视频上传</h3>
        <hr>
        <div class="am-form-group">
            <label for="description">这一刻的想法...</label><br>
            <textarea class="am-u-sm-centered" rows="5" id="description"></textarea>
        </div>
        <div class="am-form-group am-form-file ">
            <button type="button" class="am-btn am-btn-default am-btn-sm">
                <i class="am-icon-cloud-upload"></i> 选择要上传的视频
            </button>
            <input id="video" name="video" type="file" accept="video/*" multiple onchange="videoChange(this)">
        </div>
        <div id="file-list"></div>
        <p>
            <input type="button" class="am-btn am-btn-primary am-btn-sm" value="提交" onclick="uploadVideo(this)"/>
        </p>
        <div class="am-progress" style="display: none">
            <div class="am-progress-bar" style="width: 40%">40%</div>
        </div>

        <br>
        <hr>
        <p>Copyright (c) 2017 Richard li. Licensed under MIT license.</p>
    </div>
</div>
<!-- Navbar -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default"
     id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li data-am-navbar-share>
            <a href="/image_list.html">
                <span class="am-icon-picture-o"></span>
                <span class="am-navbar-label">图片</span>
            </a>
        </li>
        <li data-am-navbar-qrcode>
            <a href="/video_list.html">
                <span class="am-icon-video-camera"></span>
                <span class="am-navbar-label">视频</span>
            </a>
        </li>
        <li>
            <a href="/upload_image.html">
                <span class="am-icon-cloud-upload"></span>
                <span class="am-navbar-label">上传图片</span>
            </a>
        </li>
        <li>
            <a href="/upload_video.html">
                <span class="am-icon-cloud-upload"></span>
                <span class="am-navbar-label">上传视频</span>
            </a>
        </li>
    </ul>
</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/gocloud.js"></script>
<script>
    $(function () {
        if (window.File && window.FileList && window.FileReader) {
            $('#video').on('change', function (evt) {
                var reader = new window.FileReader(),
                    file = evt.target.files[0],
                    url;

                reader = window.URL || window.webKitURL;

                if (reader && reader.createObjectURL) {
                    url = reader.createObjectURL(file);
                    $('#file-list').append($("<video></video>", {
                        class: "am-img-thumbnail am-img-bdrs",
                        src: url,
                        title: file.name
                    }))
//                reader.revokeObjectURL(url);  // don't forget to free up memory after upload
                    return;
                }

                if (!window.FileReader) {
                    console.log('Sorry, not so much');
                    return;
                }

                reader = new window.FileReader();
                reader.onload = function(evt) {
                    $('#file-list').append($("<video></video>", {
                        class: "am-img-thumbnail am-img-bdrs",
                        src: evt.target.result,
                        title: file.name
                    }))
                };
                reader.readAsDataURL(file);
            });
        } else {
            $('#video').on('change', function (evt) {
                var fileNames = '';
                $.each(this.files, function () {
                    fileNames += '<span class="am-badge">' + this.name + '</span> ';
                });
                $('#file-list').html(fileNames);
            });
        }
    });
</script>
</html>